<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>636378701039-vsgpaf8r93cpfgp3fve01r9uh8do5fvp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.636378701039-vsgpaf8r93cpfgp3fve01r9uh8do5fvp</string>
	<key>API_KEY</key>
	<string>AIzaSyAKcT9obbTZyuq190zGOkJCdlUgMqZuvDY</string>
	<key>GCM_SENDER_ID</key>
	<string>636378701039</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.counterProvider</string>
	<key>PROJECT_ID</key>
	<string>counter-provider</string>
	<key>STORAGE_BUCKET</key>
	<string>counter-provider.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:636378701039:ios:676fcece651a7d9f910f1a</string>
</dict>
</plist>